@model DoctorViewModel
@{
    ViewData["Title"] = @Model.Staff.UserName;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/account.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Personal Details </h2>
            <a asp-action="Visits"><h2 class="inactive underlineHover">Visits</h2></a>
            <a asp-action="Services"><h2 class="inactive underlineHover">Medication Services</h2></a>
            <a asp-action="Logout"><h4 style="color:red">Logout</h4></a>

            <div class="fadeIn first">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>@Model.Staff.Name</td>
                        </tr>
                        <tr>
                            <td><strong>Username</strong></td>
                            <td>@Model.Staff.UserName</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>@Model.Staff.Email</td>
                        </tr>
                        <tr>
                            <td><strong>Role</strong></td>
                            <td>@Model.Staff.Role</td>
                        </tr>
                        <tr>
                            <td><strong>Specialty</strong></td>
                            <td>@Model.Specialty</td>
                        </tr>
                        <tr>
                            <td><strong>Phone</strong></td>
                            <td>@Model.Phone</td>
                        </tr>
                        <tr>
                            <td><strong>OfficeAddress</strong></td>
                            <td>@Model.OfficeAddress</td>
                        </tr>
                        <tr>
                            <td><strong>OfficeAddress</strong></td>
                            <td>@Model.OfficeAddress</td>
                        </tr>
                        <tr>
                            <td><strong>Show AvailableTime</strong></td>
                            <td>
                                <div style="display: flex; justify-content: space-between; margin: 20px 40px 10px 40px;">
                                    <a asp-action="ShowAvailableTime" asp-route-id="@Model.Id" class="fadeIn fourth" style="background-color: #39ace7; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: white;">Edit</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>AvailableTime Creation</strong></td>
                            <td>
                                <div style="display: flex; justify-content: space-between; margin: 20px 40px 10px 40px;">
                                    <a asp-action="AvailableTime" asp-route-id="@Model.Id" class="fadeIn fourth" style="background-color: #39ace7; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: white;">Edit</a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="display: flex; justify-content: space-between; margin: 20px 40px 10px 40px;">

                    <a asp-action="Edit" asp-route-id="@Model.Id" class="fadeIn fourth" style="background-color: #39ace7; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: white;">Edit</a>


                </div>
            </div>
        </div>
    </div>
</body>
</html>

