@model IEnumerable<PrescriptionViewModel>
@{
    ViewData["Title"] = "Prescriptions";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/account.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1 class="active">Prescriptions</h1>
            <a asp-action="Services"><h5>Back</h5></a>

            <div class="fadeIn first">
                @using (Html.BeginForm("Prescriptions", "Doctor", FormMethod.Get))
                {
                    <input class="form-control" type="text" name="search" placeholder="Patient's UserName" />
                    <input type="submit" class="fadeIn fourth" value="Search" />
                }
                <div class="button-container">
                    <a asp-action="AddPrescription" class="btn-primary">Add New Prescriptions</a>
                </div>
                @if (Model.Count() > 0)
                {
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Doctor Name</th>
                                <th>MedicationName</th>
                                <th>Dosage</th>
                                <th>FreqPerDay</th>
                                <th>Duration</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prescription in Model)
                            {
                                <tr>
                                    <td>@prescription.PatientUserName</td>
                                    <td>@prescription.DoctorUserName</td>
                                    <td>@prescription.MedicationName</td>
                                    <td>@prescription.Dosage</td>
                                    <td>@prescription.FreqPerDay</td>
                                    <td>@prescription.Duration</td>
                                    <td>@prescription.Comments</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="mt-5 alert alert-warning">
                        <h1>
                            @if (TempData["Message"] is not null)
                            {
                                <div id="tempMessage" class="alert alert-success"> @TempData["Message"]</div>
                            }
                        </h1>
                    </div>

                }
            </div>
        </div>
    </div>
    <script>
        // Show the message if it exists, then hide it after 5 seconds
        window.onload = function () {
            var messageDiv = document.getElementById('tempMessage');
            if (messageDiv) {
                messageDiv.style.display = 'block'; // Show the message
                setTimeout(() => messageDiv.style.display = 'none', 7500); // Hide after 5 seconds
            }
        }
    </script>
</body>
</html>
